{% extends 'layout.html' %}
{% block content %}
    <h1>ADD ANSWER</h1></hr>
    <form action="{{ url_for('add_answer', answer_id= answer_id) if answer_id else url_for('add_answer', question_id=question_id)}}", method= post>
        <label for="message"><strong>Message:</strong></label><br>
        <textarea id="message" rows="4" cols="50" required name="message">{{message if answer_id else ''}}</textarea>
        <input type="submit" value="Submit">
    </form>
{% endblock %}

{{ url_for('add_question', question_id= question_id) if selected_question else url_for('add_question')}}