{% extends 'layout.html' %}
{% block content %}
    <h1>Add Question</h1></hr>
    <form action="/add-question"
          method="post">

        <label for="title"><strong>Title:</strong></label><br>
        <input type="text" id="title" name="title" value="{{selected_question['title']}}">
        <p>
            <label for="message"><strong>Message:</strong></label><br>
            <textarea id="message" rows="4" cols="50" name="message" required>{{ selected_question['message'] if selected_question }}</textarea>
        </p>

        <input type="submit" value="Submit">
    </form>
{% endblock %}