{% extends 'layout.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
</head>
<h1>github:</h1>
<h1><a target="_blank" href=" https://github.com/baginski95"><p>https://github.com/baginski95</p></a></h1>
<h1><a target="_blank" href="https://github.com/Michal-Sob"><p>https://github.com/Michal-Sob</p></a> </h1>
<h1><a target="_blank" href="https://github.com/domel2222"><p>https://github.com/domel2222</p></a></h1>
<body>

</body>
</html>
{%  endblock content %}