{% extends 'layout.html' %}
{% block content %}
    <h1>QUESTIONS LIST</h1><br><br>
    <a href="/add-question"><button type="button"><strong>ADD QUESTION</strong></button></a><br><br>

    <form action="/list"
          method="get">
        <label for="sorting">Sorting by:</label>

        <select id="sorting">
          <option value="Title">Title</option>
          <option value="submission_time">Submission Time</option>
          <option value="view_number">View Number</option>
          <option value="vote_number">Vote Number</option>
        </select>

        <select>
            <option value="False">Descending</option>
            <option value="True">Ascending</option>
        </select>
        <input type="submit" value="OK">
    </form>

    <table border= "1">
        <thead>
            <tr>
                {% for key in questions[0].keys() %}
                    <th>{{ key.replace('_', ' ')  }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in questions[::-1] %}
                <tr>
                    {% for key, value in row.items() %}
                        {% if key == 'title' %}
                            <td><a href="/question/{{ row['id'] }}">{{ value }}</a></td>
                        {% else %}
                        <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table><br>
    <a href="/"><button type="button"><strong>BACK TO MENU</strong></button> </a>
{% endblock %}