{% extends 'layout.html' %}
{% block content %}

<h1>Registration</h1></hr>
    <form action="{{ url_for('registration') }}"
          method="post">

        <p><strong>REMEMBER</strong>
<br>
            your email will be used as your username</p>

        <label id="email" for="email"><strong><p>Email:</p></strong></label>
<br>
        <input type="text" id="email" name="email">
<br>
        <label id="password" for="password"><strong><p>Password:</p></strong></label>
<br>
        <input type="text" id="password" name="password">
        <input type="checkbox" onclick="myFunction()">Show Password
<br>
        <input type="submit" value="Submit">
    </form>

{% endblock %}