{% extends 'layout.html' %}
{% block content %}
<body>

<!-- QUESTION -->

<h2><strong>Question</strong></h2></body></hr>
    <table>
        <thead>

            <tr class="head">
                {% for key in selected_question.keys() %}
                        <th>{{ key.replace('_', ' ')  }}</th>
                {% endfor %}
        </thead>
        <tbody>
            </tr>
            <tr> {% for key, value in selected_question.items() %}
                        {% if key == "vote_number" %}
                    <td>{{ value }} <i onclick="thumb_toggle(this)" class="fa fa-thumbs-up"></td>

                        {%  else %}
                    <td>{{ value }}</td>
                        {%  endif %}
                {% endfor %}
            </tr>
        </tbody>
    </table>
    <table>
        <tbody>

        <td><a href="/question/{{selected_question['id']}}/update"><button type="button"><strong>update</strong></button></a></td>
        <td><a href="/question/{{selected_question['id']}}/delete"><button type="button"><strong>delete</strong></button></a></td>
        <td><a href="/question/{{question_id}}/new-comment">New comment</a></td>
        </tbody>
    </table>

<!-- COMMENTS-->

{% if comments %}
    <h5>Comments</h5>
<table>
        <thead>

            <tr class="head">
                {% for key in comments[0].keys() %}
                    {% if key == 'id' or key == 'question_id' or key == 'answer_id' %}
                    {% else %}
                        <th>{{ key.replace('_', ' ')  }}</th>
                    {% endif %}
                {% endfor %}
        </thead>
        <tbody>
            {% for comment in comments %}
            </tr>
            <tr>
                {% for key, value in comment.items() %}
                    {% if key == 'id' or key == "question_id" or key == 'answer_id' %}
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            </tr>
        </tbody>
</table>
{% endif %}

<!-- ANSWERS -->

        <h2><strong>Answers</strong></h2>
        {% if answers %}
            <table>
                <thead>
                    <tr class="head">

                        {% for key in answers[0].keys() %}
                            {% if key == 'question_id' or key == "id" %}
                            {% else %}
                                <th>{{ key.replace('_', " ")}}</th>
                            {% endif %}

                        {% endfor %}
                    </tr>
                </thead>
            <tbody>
                    {% for answer in answers %}
                        <tr>

                        {% for key, value in answer.items() %}
                            {% if key == 'id' or key == "question_id" %}
                            {%  elif key == "vote_number" %}
                            <td>{{ value }} <i onclick="thumbToggle(this)" class="fa fa-thumbs-up"></td>
                            {% else %}
                            <td>{{ value }}</td>

                            {% endif %}
                        {% endfor %}

                            <td><a href="/answer/{{answer['id'] if answer['id'] else ''}}/update">
                                <button type="button"><strong>update</strong></button>
                                </a>
                            </td>
                            <td><a href="/answer/{{answer['id'] if answer['id'] else ''}}/delete">
                                <button type="button"><strong>delete</strong>
                                </button></a>
                            </td>
                            <td><a href="/answer/{{ answer_id }}/new-comment">add comment</a></td>
                        </tr>
                    {% endfor %}
            </tbody>
            </table>
        {% else %}
                <hr>
                <p>There are no answers yet</p>
        {% endif %}

        <br>
    <a href="/question/{{ selected_question['id'] }}/new-answer">
        <button type="button"><strong>ADD ANSWER</strong>
        </button>
    </a><br><br>


{% endblock %}