<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Question | AskMate</title>
</head>
<body>


    <h2><strong>Question</strong></h2>
    <table border = "1">
        <thead>

            <tr>
                {% for key in selected_question[0].keys() %}
                    {% if key == 'id' %}
                    {% else %}
                        <th>{{ key.replace('_', ' ')  }}</th>
                    {% endif %}
                {% endfor %}
        </thead>
        <tbody>
            </tr>
            <tr> {% for key, value in selected_question[0].items() %}
                    {% if key == 'id' %}
                    {% else %}
                    <th>{{ value }}</th>
                    {% endif %}

                {% endfor %}
                <td><button type="button"><strong>VOTE Like</strong></button></td>

            </tr>
        </tbody>
        <br>
        <br>
    </table>
        <h2><strong>Answer</strong></h2>
        {% if leng > 1: %}
            <table border = "1">
                <thead>
                    <tr>

                        {% for key in selected_question[1].keys() %}
                            {% if key == 'question_id' or key == "id" %}
                            {% else %}
                                <th>{{ key.replace('_', " ")}}</th>
                            {% endif %}

                        {% endfor %}
                    </tr>
                </thead>
            <tbody>
                    {% for answer in selected_question[1:] %}
                        <tr>

                        {% for key, value in answer.items() %}
                            {% if key == 'id' or key == "question_id" %}
                            {% else %}
                            <td>{{ value }}</td>

                            {% endif %}
                        {% endfor %}
                            <td><button type="button"><strong>VOTE Like</strong></button></td>
                        </tr>
                    {% endfor %}
            </tbody>
            </table>
        {% else %}
                <hr>
                <p>There is no answer yet</p>
        {% endif %}

        <br>
    <a href="/show-question/{{ selected_question[0]['id'] }}/new-answer"><button type="button"><strong>ADD ANSWER</strong></button></a><br><br>




</body>
</html>